@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
.logo {
  padding: 15px;
}
.app {
  position: absolute;
  right: 0;
}
.play {
  max-width: 100%;
  max-height: 100%;
}
.alert {
  width: 100%;
  background-color: antiquewhite;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Prompt", sans-serif;
}
.hightlight {
  /* background: linear-gradient(90deg, #0a9b1a 0, #17718c); */
  background-color: aqua;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgb(55, 55, 217);
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 30px;
  width: 300px;
  text-align: center;
}

.box {
  width: 33%;
  height: 200px;
  background-color: aqua;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  flex: 1;
  flex-basis: 0;
  margin: 25px;
}

.heading {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
}
.boxtext {
  padding: 80px;
}
.boxtext > img {
  padding: 10px;
}

.why {
  background-color: rgb(121, 249, 249);
  height: 350px;
}
.whybox {
  background-color: white;
  width: 25%;
  height: 175px;
  overflow: hidden;
  border-radius: 10px;

  margin: 25px;
}
.whybox > img,
.whytext {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 10px;
}
.whybox > h3 {
  padding: 30px;
}
.whyflex {
  display: flex;
}
.footer {
  display: flex;
  background-color: skyblue;
}
.footercolumn {
  flex: 1;
  padding: 10px;
}
